# Archivos binarios
*.exe
*.dll
*.so
*.dylib

# Archivos de compilación
*.test
*.out

# Carpetas de build
/bin/
/build/
/dist/

# Archivos temporales
*.log
*.tmp
*.swp

# Dependencias locales
/vendor/
